
.header-margin-control{
  margin-bottom: 10px;
}

.header-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  margin:0;
}

.user-logout{
  position: relative;
  bottom: 35px;;
  color: white;
  font-weight: 100;
}

.username{
  color: white;
  cursor: default;
}

.logout{
   cursor:pointer;
}



.site-title{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-align: center;
  color: rgb(36, 119, 70);
  text-shadow: 1px 1px 12px rgba(0, 0, 8, .1);
  margin: 0;

}

.site-title a{
  color: rgb(36, 119, 70);
  text-decoration: none;
  margin:0;
}

.lists-title{
  font-weight: 300;
  color: white;
  
}

.logo-left{
  justify-content: space-around;
}

hr{
  margin: 0 10px 40px 10px;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  position: relative;
  bottom: 10px;
}

.signup-link{
  position: relative;
  left: 60%;
}

.signup-link a{
  color: white;
  font-weight: 100;
}

.login-link{
  position: relative;
  left: 60%;
}

.login-link a{
  color: white;
  font-weight: 100;
}

.header-margin-control{
  
}