
.header-margin-control{
  margin: 0 0 10px 0;
  
}

header{
  margin: 0 0 120px 0;
}

.header-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  margin:0;
  background-color: rgb(44, 44, 44);
  padding: 0;
}

.user-logout{
  
  color: white;
  font-weight: 100;
}

.username{
  color: rgb(172, 172, 172);
  cursor: default;
  font-weight: 100;
}

.logout{
   cursor:pointer;
   font-weight: 100;
   color: rgb(241, 211, 79);
}



.site-title{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  color: rgb(36, 119, 70);
  text-shadow: 1px 1px 12px rgba(0, 0, 8, .1);
  margin: 0;
  
}

.site-title a{
  color: rgb(36, 119, 70);
  text-decoration: none;
  margin:0;
  padding: 0;
}

.lists-title{
  font-weight: 300;
  color: white;
  
}

.logo-left{
  justify-content: space-around;
}

hr{
  margin: 0 10px 40px 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(44, 44, 44, 0), rgba(100, 100, 100, 0.75), rgba(44, 44, 44, 0));
  
}

.signup-link{
  position: relative;
  left: 60%;
}

.signup-link a{
  color: white;
  font-weight: 100;
}

.login-link{
  position: relative;
  left: 60%;
}

.login-link a{
  color: white;
  font-weight: 100;
}

